	<div class="container">
		<div class="row">
			<div class="col-lg-12 box">
				<h1 id="portfolio">AITP Video Library</h1>
    			</div>
		</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 box" style="text-align:center;"><iframe width="85%" height="350px" src="https://www.youtube.com/embed/NLDA7YtWAnM?rel=0" frameborder="0" allowfullscreen></iframe>
        			</div>
				<div class="col-lg-6 col-md-6 col-sm-6 box" style="text-align:center;"><iframe width="85%" height="350px" src="https://www.youtube.com/embed/j_6I458ZZrM?rel=0" frameborder="0" allowfullscreen></iframe>

				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 box" style="text-align:center;"><iframe width="85%" height="350px" src="https://www.youtube.com/embed/YAWO4lnxbz4?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 box" style="text-align:center;"><iframe width="85%" height="350px" src="https://www.youtube.com/embed/aB_vm-OFwwM?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
