<div style="margin-top:35px;" class="container-fluid">
	<div class="col-md-2"></div>
	<div class="col-md-10">
	
<h1>Donations</h1>
<%= render 'form' %>

<%= link_to 'Back', donations_path %>
	</div>

	<div class="col-md-2"></div>
</div>
