@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.bxslider";
#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}
@media (max-width: 765px){
	.navbar-collapse {
		display:none;
	}
	.footer-links {
		display:none;
	}
	.no-show {
		display:none;
	}
}
.heading {
	color:black;
	font-size:30px;
}
.posts {
	padding-top:30px;
	margin-left:100px;
	margin-right:100px;
}


@media (max-width: 765px){
	.jumbotron {
  	background-image: image-url('aitp_jumbotron.jpg');
  	background-attachment:fixed;
  	background-position:center top;
  	background-size:100vw;
  	position:relative;
  	background-repeat:no-repeat;
  	width:100vw;
  	height:40vh;
	}
}
@media (min-width: 766px){
	.jumbotron {
  	background-image: image-url('aitp_jumbotron.jpg');
  	background-attachment:fixed;
  	background-position:center top;
  	background-size:100vw 100vh;
  	position:relative;
  	background-repeat:no-repeat;
  	width:100vw;
  	height:100vh;
	}
	.caption {
	display:none;
	z-index:100;
	position:absolute;    
	color:black;
	font-size:24px;
	font-weight:bold;
	left:95px;
	top:70px;
	pointer-events:none;
	}
}
.bx-wrapper .bx-prev {
  	left: 10px;
  	background-image: image-url('controls.png');
  	background-repeat: no-repeat;
  	background-position: 0 -32px;
}

.bx-wrapper .bx-next {
  	right: 10px;
  	background-image: image-url('controls.png');
  	background-repeat: no-repeat;
  	background-position: -43px 0px;
}
.classyDolphin {
	text-align:center;
}
.img-circle {
	width:100%;
}
p#thumbnail1.img-circle:hover,
img#thumbnail1.img-circle:hover {
	opacity: .3;
}
p#thumbnail2.img-circle:hover,
img#thumbnail2.img-circle:hover {
	opacity: .3;	
}

p#thumbnail3.img-circle:hover,
img#thumbnail3.img-circle:hover {
	opacity: .3;	
}

p#thumbnail4.img-circle:hover,
img#thumbnail4.img-circle:hover {
	opacity: .3;	
}

.sm-icon {
	width:50px;
	height:50px;
	margin-left:5px;
	margin-right:5px;
}

html {
	overflow-x: hidden;
}


/* --------------NAV BAR*/
.navbar-fixed-top {
  	height: 40px;
}
.navbar-sm {
  	min-height:40px
}
.navbar-sm .navbar-brand, 
.navbar-sm .navbar-nav>li>a {
  	padding-top:10px;
 	padding-bottom:5px;
}
.navbar-sm .navbar-brand {
  	height: 40px;
}
.navbar-sm .navbar-toggle {
  	margin: 3px 9px 3px 0px;
   	padding: 4px 4px 4px 4px;
}
.navbar-sm .navbar-toggle .icon-bar {
  	width: 16px;
}
.navbar-inner {
  	text-align:center;
  	margin: 0 auto;
}
@media (min-width: 766px){
	.white-link {
		color:white;
	}
	.white-link:visited {
		color:white;
	}
	.nar > li > a, .nav > li > a:hover, .nav > li > a:focus {
    		text-decoration: none;
    		background-color: transparent;
	}
	.white-link:hover, 
	.white-link:focus {
		text-decoration: none;
		color:#337AB7;
	}
	.white-link:visited:hover{
		color:#337AB7;
	}
}
@media (max-width: 765px){
	.white-link {
		background-color:#d3d3d3;	
		color:black;
	}
	.white-link:visited {
		background-color:#d3d3d3;	
		color:black;
	}

	.nar > li > a, .nav > li > a:hover, .nav > li > a:focus {
    		background-color:#d3d3d3;
	}
	.white-link:hover, 
	.white-link:focus {
		background-color:#d3d3d3;	
		color:#337AB7;
	}
	.white-link:visited:hover{
		background-color:#d3d3d3;	
		color:#337AB7;
	}
}
/* --------------Body/Columns-*/
.col-lg-12 {
  	text-align:center;
}
.container .col-lg-12 {
  	text-align:center;
  	padding-top:60px;
}
.col-lg-12 h1{
  	font-family:'Open Sans',sans-serif;
  	font-size:30px;
  	font-style:italic;
  	font-weight:600;
 }
.col-lg-12 p{
  	font-family:'Roboto Slab',serif;
  	font-weight:300;
  	font-size:22px;
 	padding:40px 0;
  	max-width:800px;
  	position:relative;
  	left:150px;
}
.col-lg-6 p{
  	font-size:15px;
  	line-height:1.9;
  	margin-top:10px;
  	padding:20px;
}
.aboutme{
  	background-color:#f4fae5;
}
.research,.aboutme{
  	padding-bottom:60px;
}
.col-lg-6 p span{
  	font-family:'Open Sans',sans-serif;
}
.col-lg-6 ul li{
  	list-style-type:none;
  	float:left;
  	margin-right:25px;
  	margin-top:-15px;
}
.research .col-lg-6 ol li{
  	margin:0;
  	padding-top:15px;
  	font-size:15px;
}
.research .col-lg-6 ol li.first{
  	padding-top:0;
}
.col-lg-3 h3{
  	font-family:'Open Sans',sans-serif;
  	font-size:18px;
  	font-weight:400;
  	margin-top:30px;
}
.col-lg-3 ul{
  	margin-top:20px;
  	padding:0;
}
.col-lg-3 ul li{
  	list-style-type:none;
  	font-family:'Roboto Slab',serif;
  	font-weight:300;
  	padding-bottom:15px;
  	font-size:15px;
}
.col-lg-3 p.older{
	font-family:'Open Sans',sans-serif;
}


/* --------------Jumbotron*/
body {
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 12px;
	position:relative;
	-webkit-font-smoothing: antialiased;
	font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer {
	margin-top:20px;
	background-color:black;
	height:50px;
}

a:hover, a:active, a:focus {
	outline: 0;
}

a:visited {
	color:black;
}
#slides {
	display: none;
}

.container {
	margin: 0 auto;
}

@import "fullcalendar";
